.site-nav {
  display: flex;
  align-items: center;

  &__list {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__item:not(:last-child) {
    margin-right: 150px;
  }

  &__link {
    display: block;
    padding: 8px 8px 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--white-text-color);
    cursor: pointer;
    transition: var(--transition-param);

    &:hover,
    &:focus {
      color: var(--title-text-color);
      // background-color: var(--white-hover);
      box-shadow: inset 8em 0 0 0 var(--white-hover);
    }
  }
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
  background-color: var(--white-text-color);

  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    background: var(--accent-color);
    height: 4px;
    border-radius: 2px;
  }
}
